.post-meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog-parent {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
}

.dash {
    display: inline-block;
    width: 50px;
    border-top: 2px solid #bb0a1a;
}

.next-articles {
    display: flex;
    justify-content: space-between;
}

.next-articles a {
    text-decoration: none;
    text-decoration-color: none;
}